
/*
============================================================
START : STRUCTURE
*/

/*
------------------------------------------------------------
header
*/

body {
    
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    letter-spacing: -.06rem;
    color: #5b4d27;
}

#hero h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
    letter-spacing: -.06rem;
    line-height: 2.8rem;
}

#hero h3 {
    line-height: 2rem;
}

#hero h1,
#hero h2,
#hero h3,
#hero h4,
#hero h5,
#hero h6 {
    color: #000;
    padding: 0px;
    margin: 0px;
}

header {
    /* structure */
    height: 12vmax;
    /* appearance */
    background-color: #c0c0c0;
}

main {
    /* appearance */
    background-color: #fff;
}

footer {
    /* appearance */
    background-color: #c0c0c0;
}

#hero {
    background: url( '../../../images/hero_bg.png' );
    background-size: 55vmax;
    background-repeat: repeat;
    background-color: #ffc600;
}

#hero {
    padding-top: 6vmax;
    padding-bottom: 7vmax;
}

#hero h1,
#hero p {
    margin: 0px;
}

nav.navbar .navbar-brand li:nth-child( 1 ) {
    /* display: none; */
}

nav.navbar .navbar-brand li:nth-child( 2 ) {
    background: url( '../../../images/logo_icon.svg' );
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: left center;
    width: 10vmax;
}

nav.navbar .navbar-brand li:nth-child( 3 ) {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    letter-spacing: -.06rem;
    color: #5b4d27;
}

#hero * {
    line-height: inherit;
}

@media ( min-width: 768px ) {

    #hero h1 {
        line-height: 3.5rem;
    }

    #hero h3 {
        line-height: 2.7rem;
    }

    header {
        /* structure */
        height: 12vmin;
    }

    main > * > * > article {
        padding: 0px 18vmin;
    }

    #hero {
        padding-top: 6vmin;
        padding-bottom: 7vmin;
        background-size: 55vmin;
    }

    nav.navbar .navbar-brand li:nth-child( 2 ) {
        width: 10vmin;
    }

    nav.navbar .navbar-brand li:nth-child( 3 ) {
        font-size: 2rem;
    }
}